<div class="sidebar-margin">
    <ul class="info nav nav-pills nav-stacked" id="ticket-accordion">
        <li class="panel">
            <a href="#ticket-element" data-parent="#ticket-accordion" data-toggle="collapse" class="">
                <span class="glyphicon glyphicon-chevron-down pull-right"></span>{{currApp.AppType}}</a>
            <div class="in" id="ticket-element">
                <div class="tickets">
                    <div class="media thumbnail">
                        <div class="col-xs-12">
                            <img ng-src="{{currApp.Picture}}" class="pull-left" />
                            <ul class="details">
                                <li>{{currApp.AppType}}: {{currApp.Title}}</li>
                                <li>Published: {{currApp.Added}}</li>
                                <li>Price: <a href="#">{{currApp.Price}}</a></li>
                                <li>{{currApp.OwnerType}}: <a href="#">{{currApp.OwnerTitle}}</a></li>
                            </ul>
                        </div>
                        <div class="col-xs-12">
                            <div class="media-body">{{currApp.Description}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <div class="margin-bottom">
        <button type="button" class="btn btn-default btn-block">Free</button>
        <button type="button" class="btn btn-success btn-block"><span class="glyphicon glyphicon-plus"></span>Added</button>
    </div>
    <ul class="nav nav-pills nav-stacked" id="sidebar-accordion">
        <li class="panel"><a href="#sidebar-element1" data-parent="#sidebar-accordion" data-toggle="collapse"><span class="glyphicon glyphicon-chevron-down pull-right"></span>Cover</a>
            <div class="in" id="sidebar-element1">
                <ul class="nav nav-pills nav-stacked">
                    <li><a href="#">About</a></li>
                    <li><a href="#">Terms</a></li>
                    <li><a href="#">Privacy</a></li>
                </ul>
            </div>
        </li>
        <li class="panel"><a href="#sidebar-element2" class="collapsed" data-parent="#sidebar-accordion" data-toggle="collapse"><span class="glyphicon glyphicon-chevron-down pull-right"></span>Rewards</a>
            <div class="collapse" id="sidebar-element2">
                <ul class="nav nav-pills nav-stacked">
                    <li><a href="#">About</a></li>
                    <li><a href="#">Terms</a></li>
                    <li><a href="#">Privacy</a></li>
                </ul>
            </div>
        </li>
    </ul>
    <ul class="nav nav-pills nav-stacked">
        <li class="active"><a href="#">Applications</a></li>
        <li><a href="#">Hubs</a></li>
        <li><a href="#">Webapps</a></li>
    </ul>


    <script src="/app/js/offcanvas.js"></script>
</div>
