html,body{height:100%;overflow-x:hidden;color:#333 /* Prevent scroll on narrow devices */}
html,body{font-size:12px}
html,body,h1,h2,h3,h4,h5,h6{font-family:Arial, "Helvetica Neue", Helvetica, sans-serif}

.navbar-collapse{max-height:none}
.nav>li>a.pull-right{z-index:99}/* fix bug for "x" in menu */
.navbar-header{width:100%}
    .navbar-brand{background:url('../img/logo.png') center center no-repeat;margin:8px 20px;height:20px;width:138px}
    .navbar-header .active{-webkit-box-shadow:none;box-shadow:none}
    .navbar-header .btn .label-warning,.navbar-header:hover .btn .label-warning{background-color:#F60}
.navbar-footer{position:absolute;bottom:0}
    .navbar-footer a{color:#666;font-size:10px;font-weight:bold;margin:4px 8px;height:24px;line-height:24px;text-transform:uppercase}
        .navbar-footer a:hover{color:#fff;text-decoration:none}

.main .navbar-nav{clear:both;margin:0;width:100%}
    .main .nav a{-webkit-transition:color 0.2s ease-in-out;-moz-transition:color 0.2s ease-in-out;-ms-transition:color 0.2s ease-in-out;-o-transition:color 0.2s ease-in-out;transition:color 0.2s ease-in-out}
    .main .navbar-collapse{padding:0}
    .main .nav>.panel{border:0;border-radius:0;background-color:#131313;margin:0;/*border-bottom:1px solid #111*/}
        .main .nav>.panel>a.collapsed{background-color:#222;color:#aaa}
    .main .nav>.panel>a{background-color:#131313;font-weight:bold;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
    .main .nav>.panel>a,.webtop li>a{color:#aaa}
        .main .nav>.panel>a:hover,.webtop li>a:hover{color:#fff}
            .webtop li>a:hover{color:#fff;background-color:transparent}
        .main .nav>.panel .sub li a{border-radius:0;color:#aaa;font-size:12px;line-height:20px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
            .main .nav>.panel.active>a{color:#fff}
            .main .nav>.panel .sub li.active a,.main .nav>.panel .sub li:hover a,.main .nav li:hover a span{/*background-color:#2e2e2e;*/background-color:transparent;color:#fff}
            .main .nav>.panel .sub li.active a,.main .nav>.open .sub li.active a:hover{background-color:#000}
    .main .nav>.panel.active>a,.main .nav>.panel.active>a:hover{background-color:#000}
    .main .nav>.new.active .glyphicon{opacity:1}
    .main .nav>.new{-webkit-box-shadow:none;box-shadow:none}
    .main .nav>.panel.new>a{border-top:1px solid #333;text-align:center;box-shadow:none}
    .main .navbar-nav>li{float:none}
    .main .nav li .qty{opacity:.5}
        .main .nav li:hover .qty{opacity:1}
    .main .nav li a .glyphicon,.main .sub>li a .glyphicon{opacity:.3}
        .main .nav li a:hover .glyphicon,.main .nav li a.active .glyphicon,.main .sub>li a:hover .glyphicon{opacity:1}
    .main .menu li{display:inline-block}
        .main .menu a{margin:8px;color:#fff}
            .main .menu a,.main .menu:hover a,.main .menu a:focus{background-color:transparent}
    .main .sub li{margin:0 0 1px;list-style:circle !important}
    .main .sub>li.active a,.main .sub>li.active a:hover{background-color:transparent}
    .container-liquid .row .main,
    .container-liquid .row .content{overflow:auto}
        .content label{font-weight:normal}
        .content textarea{resize:vertical}
        .content .alert{margin-bottom:8px}
        .content .form-horizontal .form-group{margin:12px 0}
            .content .form-horizontal .form-group input[type="radio"], input[type="checkbox"]{margin:2px 0 0}
        .content .margin{margin:8px 0}
    .container-liquid .row .sidebar-offcanvas{overflow-y:scroll}
/*.visible-xs{position:fixed;top:0;right:0;z-index:1050}*/
.breadcrumb,.thumbnail{margin-bottom:8px}
    .breadcrumb>li+li:before,.media .actions>li+li:before{padding:0 10px 0 5px;content:"\00b7"}
    .controls{color:#aaa;float:right}
        .controls .glyphicon{margin-right:5px}
.panel>a>.glyphicon{margin-top:2px}
.margin-bottom{margin-bottom:8px}
        .form-horizontal .callout{margin:0}
.glyphicon-new-window{font-size:90%;margin-left:4px}
.popover{z-index:1040}
.loading{color:#aaa;margin:12px}
.hidden{display:none}
.currency{font-size:10px;margin:0 4px;color:#aaa}
/*.hub{outline:1px solid #fae4c5;float:right;background-color:#fae4c5;position:relative}*/
/*.hub .icon{color:#f0ad4e;float:right;text-shadow:0 0 8px #fff;position:absolute;top:2px;left:104px;z-index:1}*/
/*.hub img{position:relative;border:1px solid #fff;outline:2px solid #f0ad4e}*/
.providers label{margin-left:8px}

/* article */
article{text-align:justify}
    article h1,article h2,article h3,article h4,article h5,article h6{margin:15px 0 5px}
    article h1{font-size:180%}
    article h2{font-size:140%}
    article img{width:100%}
    article header p{color:#999}
    article section{display:inline-block;width:100%}
        article .col-xs-12{padding-top:10px;padding-bottom:10px}
        article .paragraph{display:inline-block;width:100%}
            article .paragraph p{margin:0}
                article .paragraph .glyphicon-comment{visibility:hidden}
                        article .paragraph:hover .glyphicon-comment{visibility:visible}
        article .contents{padding:24px 12px}
                article .contents ol li a{display:block;padding:2px 0;width:100%}
    article .thumbnail{padding:0}
    article .media.thumbnail{margin-top:8px}
/* END article */

/* callout */
.callout{background-color:#ecf3fa;border-left:3px solid #d0e2f2;margin:4px 0 12px;padding:8px 16px}
    .callout h5{color:#428bca;margin:10px 0}
    .callout h6{color:#b6c7d6;margin:10px 0}
figcaption.callout{margin:4px 0}
.figure-details{background-color:#f8f8f8;border-color:#e3e3e3}
    .figure-details h5,.figure-details a{color:#757575}
.danger{background-color:#fbf5f5;border-color:#eedbdb}
    .danger h5,.danger a{color:#a94442}
.warning{background-color:#fcf8f2;border-color:#fbead3}
    .warning h5,.warning a{color:#f0ad4e}
/* END callout */

/* menu */
menu{padding:0;margin:0 0 8px}
/* END menu */

@font-face{
    font-family:'BebasNeue';
    src: url('../fonts/bebasneue.eot');
    src: url('../fonts/bebasneue.eot?#iefix') format('embedded-opentype'), url('../fonts/bebasneue.woff') format('woff'), url('../fonts/bebasneue.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.carousel-control{z-index:101}
.content .carousel-inner a{color:#f0ad4e}
.carousel-inner .img{background-position:center center;min-height:750px}
    .content .carousel-caption{text-shadow: 1px 1px 4px rgba(0,0,0,1)}
        .content .carousel h2{font-family:BebasNeue,sans-serif;font-size:25px;text-align:left;font-weight:normal}
        .content .carousel h6{font-size:12px;font-weight:bold;text-align:left;text-transform:uppercase}
.carousel-text{margin:0 20% 36px;position:relative}
    .carousel-text sup span.glyphicon-ok-sign{font-size:65%;margin-left:8px}
    .carousel-text .features .glyphicon-ok{margin-right:8px}
    .carousel-text sup span.label{font-size:12px;margin-left:8px;font-family:Arial,sans-serif}
    .carousel-text .description{text-align:justify}
    .carousel-text .features{list-style:none;padding:0;margin:10px 0;text-align:left}
.carousel-caption{bottom:0;right:0;left:0;
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,1)));
background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#000000',GradientType=0)}

.sidebar-offcanvas .sidebar-margin{margin:8px 8px 0 0}
    .sidebar-offcanvas .nav .panel{margin-bottom:1px;-webkit-box-shadow:0 1px 1px rgba(0, 0, 0, 0.0);box-shadow:0 1px 1px rgba(0, 0, 0, 0.0)}
.sidebar-offcanvas .panel .nav{margin:0}
    .sidebar-offcanvas .panel .nav li{margin:4px 12px}
    .sidebar-offcanvas .btn>.glyphicon{float:left}
    .sidebar-offcanvas .nav li.disabled a{cursor:default}
    .sidebar-offcanvas .nav li .label{border:1px solid #fff;border-radius:3px}
.info{clear:both}
    .info .panel{margin:0;-webkit-box-shadow:0 1px 1px rgba(0, 0, 0, 0.0);box-shadow:0 1px 1px rgba(0, 0, 0, 0.0)}
        .info .panel>a{background-color:#f5f5f5;color:#aaa;margin-bottom:8px}
            .info .panel>a:hover{color:#333}

.label{font-size:90%;font-weight:normal}

.nav-stacked+.nav-stacked{margin-top:32px}

ul.leaders{padding:0;overflow-x:hidden;list-style:none;margin:0 8px}
ul.leaders li{margin:4px 0 8px}
ul.leaders li:before{color:#ccc;float:left;width:0;white-space: nowrap;content:"........................................................................................................................................................................................................................................................................................................................................................................................................................................................"}
ul.leaders span:first-child{background:white}
    ul.leaders span a{margin-left:4px}
ul.leaders span + span{float:right;background:white}
.table .glyphicon{color:#aaa}
.align-center{text-align:center}

/* thumbnail */
.thumbnail{border-color:transparent;text-align:justify;-webkit-box-shadow:0 1px 3px transparent;-moz-box-shadow:0 1px 3px transparent;box-shadow:0 1px 3px transparent}
    .thumbnail .col-xs-12{padding:10px 15px}
	.thumbnail:hover{background-color:#f9f9f9;border-color:whiteSmoke;-webkit-box-shadow:0 1px 3px rgba(0, 0, 0, 0.055);cursor:pointer}
    .thumbnail header.col-xs-12{padding-bottom:0}
        .thumbnail header.col-xs-12 h2{margin-top:0}
    .tooltip-inner{padding:8px 12px}
.thumbnail .details,.thumbnail .donation{color:#aaa;line-height:normal;-webkit-transition:all 0.25s ease-out;-moz-transition:all 0.25s ease-out;transition:all 0.25s ease-out}
        .thumbnail .details li,.thumbnail .donation li{list-style:none}
    .thumbnail .donation .btn .glyphicon{margin:0 0 3px 0}
    .thumbnail:hover{color:#666;-webkit-transition:all 0.25s ease-out;-moz-transition:all 0.25s ease-out;transition:all 0.25s ease-out}
    .thumbnail .details{padding:0;display:table;margin-top:4px;min-width:120px}
    .thumbnail>.pull-right{margin-left:0} /* reset bootstrap to fix ticket view */
    .thumbnail p{margin:0}
    .thumbnail .actions{margin:4px 0;padding:0}
        .thumbnail .actions .glyphicon{margin-right:5px}
            .thumbnail .actions li{margin-top:8px;padding:0;display:inline-block}
                .thumbnail .actions li a{color:#aaa;-webkit-transition:color .25s linear;transition:color .25s linear}
                    .thumbnail:hover .actions li a{color:#428bca;-webkit-transition:color .25s linear;transition:color .25s linear}
    .thumbnail .col-xs-12 img{margin:4px 8px 4px 0}
.thumbnail img{width:120px;height:80px}
.thumbnail h2 sup,.info .panel a sup{color:#aaa;font-size:10px;margin-left:4px}
/* END thumbnail */

.btn,.nav>li>a,.dropdown-menu>li>a{font-size:12px;padding:8px 16px}
.btn-block+.btn-block{margin-top:4px}
    .btn .glyphicon{margin:2px 8px 0 0}
        .main .btn .glyphicon{margin:0}

.btn-xs{padding:2px 0}
    .btn:focus{outline:none}
.btn-default{background-color:#f5f5f5;border-color:#eee;color:#666}
    .btn-default:hover{border-color:#ddd;/*border-bottom-color: #aaa;background-image: linear-gradient(top,#f8f8f8,#f1f1f1);background-image: -webkit-gradient(linear,left top,left bottom,from(#f8f8f8),to(#f1f1f1));background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1)*/}
    .btn-default.disabled,.btn.disabled:hover{background-color:#f5f5f5;border-color:#eee;color:#aaa;pointer-events:initial;cursor:default}
.btn-white{background-color:#fff;border-color:#eee;color:#666}
    .content .btn-white{border-color:#ccc}
.btn-danger:hover{border-color:#9c1e11;/*border-bottom-color: #af301f;background-color: #c53727;background-image: -webkit-linear-gradient(top,#dd4b39,#c53727);background-image: linear-gradient(top,#dd4b39,#c53727)*/}
.btn-primary:hover{border-color:#2a69a1;/*border-bottom-color: #2f5bb7;background-color: #357ae8;background-image: -webkit-linear-gradient(top,#4d90fe,#357ae8);background-image: -moz-linear-gradient(top,#4d90fe,#357ae8);background-image: -ms-linear-gradient(top,#4d90fe,#357ae8);background-image: -o-linear-gradient(top,#4d90fe,#357ae8);background-image: linear-gradient(top,#4d90fe,#357ae8)*/}
.btn-success:hover{border-color:#4e8c4e;/*border-bottom-color: #5b905b;background-color: #40a340;background-image: -webkit-linear-gradient(top,#5cb85c,#40a340);background-image: -moz-linear-gradient(top,#5cb85c,#40a340);background-image: -ms-linear-gradient(top,#5cb85c,#40a340);background-image: -o-linear-gradient(top,#5cb85c,#40a340);background-image: linear-gradient(top,#5cb85c,#40a340)*/}
.btn-invitation{font-size:18px;margin:10px 0 0}

.full-width{width:100%}
.dropdown-menu-full-width,.dropdown-menu-full-width .dropdown-menu{width:100%}
    .dropdown-menu-full-width button{text-align:left}
    .dropdown-menu-full-width button .caret{float:right;margin:8px 0 0}
.for_paginator{margin:2px}

.sidebar-offcanvas{overflow:hidden}
.sidebar-offcanvas .thumbnail.media,.sidebar-offcanvas .thumbnail.media:hover,article .contents{background-color:#f8f8f8}
.sidebar-offcanvas .thumbnail{padding:0}
    .sidebar-offcanvas .thumbnail:hover{background-color:transparent;border-color:transparent;cursor:default;-webkit-box-shadow:0 1px 3px rgba(0, 0, 0, 0)}

.total-pages{color:#aaa;text-align:center;font-size:12px}
.form-control{font-size:12px}

@media screen and (max-width:767px){
    .row-offcanvas{position:relative;-webkit-transition:all 0.25s ease-out;-moz-transition:all 0.25s ease-out;transition:all 0.25s ease-out}
    .row-offcanvas-right
    .sidebar-offcanvas{right:-50%}
    .row-offcanvas-left
    .sidebar-offcanvas{left:-50%}
    .row-offcanvas-right.active{right:50%}
    .row-offcanvas-left.active{left:50%}
    .sidebar-offcanvas{position:absolute;top:0;width:50%;z-index:91}
}

@media (min-width:768px){
    .content{padding:0 8px 0 4px !important}
    .navbar{border-radius:0;height:100%;bottom:0;top:0;margin:0}
    .container-liquid,.row,.row>div/*,.container-liquid .margin*/{height:100%}
    .navbar-fixed-top{position:relative}
    /*.col-xs-1,.col-sm-1,.col-md-1,.col-lg-1,.col-xs-2,.col-sm-2,.col-md-2,.col-lg-2,.col-xs-3,.col-sm-3,.col-md-3,.col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
        padding:0 8px}
    .btn,.nav>li>a,.dropdown-menu>li>a{padding:8px 16px}*/
}
@media (max-width:767px){
    .content{margin-top:50px;padding:0 15px 0 22px}
    .sidebar-offcanvas{padding-left:0}
        .sidebar-offcanvas .sidebar-margin{margin-right:12px}
    .row-offcanvas-menu.active{position:fixed;right:50%;z-index:1032;-webkit-transition:all 0.25s ease-out;-moz-transition:all 0.25s ease-out;transition:all 0.25s ease-out}
    .navbar-fixed-top{position:fixed;-webkit-transition:all 0.25s ease-out;-moz-transition:all 0.25s ease-out;transition:all 0.25s ease-out}
    .tooltip{z-index:1033}
}

@media (max-width:450px){
    .navbar-brand{display:none}
}

/* CUSTOM SCROLLBAR FOR CHROME */
::-webkit-scrollbar{width:7px;height:7px}
::-webkit-scrollbar-track{background-color:rgba(0,0,0,0.0)}
::-webkit-scrollbar-track:hover{background-color:rgba(0,0,0,0.05)}
::-webkit-scrollbar-thumb{background-color:rgba(0,175,219,0.4)}
::-webkit-scrollbar-thumb:hover{background-color:rgba(0,175,219,0.7)}

.form-signin .alert{padding:8px 12px;margin:8px 0}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.comment-limit{margin:12px 12px;color:#aaa}

/* IA */
.active-ia{}
    .active-ia .label{position:relative;float:left}

/* Github */
.github{margin-bottom:12px}
.post .gist pre{white-space:normal}
.post .gist .gist-file{border:none;margin:0}
.post .gist .gist-file table td{border:none}
.post .gist-meta, .post .gist .gist-file table .line-numbers{display:none}
.post .github .gist .gist-file{font-size:12px;color:#333;font-family:Arial,sans-serif}
.post .gist .gist-file .gist-data .line-data{padding:0 !important}
.post .gist .gist-file .gist-data{background-color: transparent;border:none}
.post .github div{padding:0;margin:0}

/* Twitter */
.twitter{clear:both}
.twitter-limit{color:#aaa}
.twitter-timeline{width:100% !important;height:2048px}

/* Bootstrap Tour */
.tour-backdrop{position:fixed;top:0;right:0;bottom:0;left:0;z-index:1100;background-color:#000;opacity:.8}
.tour-step-backdrop{position:relative;z-index:1101;background:inherit}
.tour-step-background{position:absolute;z-index:1100;background:inherit;border-radius:6px}
/*.tour .btn-group{visibility:hidden}*/
.popover[class*=tour-]{z-index:1100;max-width:444px}
.popover[class*=tour-] .profile-ia{margin:12px 8px 0 12px;float:left}
.popover[class*=tour-] .popover-content{padding:12px;text-align:justify}
.popover[class*=tour-] .popover-content img{border:8px solid #fff;outline:1px solid #f60;margin:8px 0;display:block;width:100%}
.popover[class*=tour-] .popover-content div{padding:0}
.popover[class*=tour-] .popover-navigation{clear:both;padding:8px 12px}
.popover[class*=tour-] .popover-navigation [data-role=end]{float:right}
.popover[class*=tour-] .popover-navigation [data-role=prev],.popover[class*=tour-] .popover-navigation [data-role=next],.popover[class*=tour-] .popover-navigation [data-role=end]{cursor:pointer}
.popover[class*=tour-] .popover-navigation [data-role=prev].disabled,.popover[class*=tour-] .popover-navigation [data-role=next].disabled,.popover[class*=tour-] .popover-navigation [data-role=end].disabled{cursor:default}
.popover[class*=tour-].orphan .arrow{display:none}
.popover[class*=tour-] .nav{clear:both;padding-top:12px}
