<div class="margin">
    <ul class="info nav nav-pills nav-stacked" id="profile-accordion" user-profile></ul>
    <ul class="breadcrumb">
        <li class="active">Ooops...</li>
    </ul>
    <div class="form-group col-xs-12">
        <div class="callout danger">
            <h5>Error 404 - Page not found</h5>
            <p>You may have clicked an expired link, mistyped the address or post was deleted</p>
        </div>
    </div>
    <div class="form-group col-xs-12">
        <a ng-click="onClickBack()" href="javascript:history.back()" class="btn btn-default"><span class="glyphicon glyphicon-arrow-left"></span>Back to previous page</a>
        <div class="pull-right">
            <a ng-click="onClickClose()" href="#" class="btn btn-primary"><span class="glyphicon glyphicon-plus-sign"></span>Close and return to dashboard</a>
        </div>
    </div>
</div>
