@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <h2>
        Sorry, an error occurred while processing your request.
    </h2>
    <div class="form-group col-xs-12">
        <div class="callout danger">
            <h5>Error 404 - Page not found</h5>
        </div>
    </div>
</body>
</html>И