html,body{height:100%;overflow-x:hidden;color:#333;/* Prevent scroll on narrow devices */}
.navbar-collapse{max-height:none}
.nav>li>a.pull-right{z-index:99}/* fix bug for "x" in menu */
.navbar-header{width:100%}
    .navbar-brand{background:url('../img/logo.png') center center no-repeat;margin:8px 20px;height:20px;width:138px}
.main .navbar-nav{clear:both;margin:0;width:100%}
    .main .nav a{-webkit-transition:color 0.2s ease-in-out;-moz-transition:color 0.2s ease-in-out;-ms-transition:color 0.2s ease-in-out;-o-transition:color 0.2s ease-in-out;transition:color 0.2s ease-in-out}
    .main .navbar-collapse{padding:0}
    .main .nav>.panel{border:0;border-radius:0;background-color:#131313;margin:0;/*border-bottom:1px solid #111*/}
        .main .nav>.panel>a.collapsed{background-color:#222;color:#aaa}
    .main .nav>.panel>a{background-color:#131313;color:#aaa}
        .main .nav>.panel>a:hover{color:#fff}
        .main .nav>.panel .sub li a{border-radius:0;color:#aaa}
            .main .nav>.panel.active>a{color:#fff}
            .main .nav>.panel .sub li.active a,.main .nav>.panel .sub li:hover a{/*background-color:#2e2e2e;*/background-color:transparent;color:#fff}
            .main .nav>.panel .sub li.active a,.main .nav>.open .sub li.active a:hover{background-color:#000}
    .main .nav>.active>a,.main .nav>.active>a:hover{background-color:#000}
    .main .nav .new{border-top:1px solid #333;text-align:center;box-shadow:none}
    .main .navbar-nav>li{float:none}
    .main .nav li .qty{opacity:.5}
        .main .nav li:hover .qty{opacity:1}
    .main .nav li a .glyphicon,.main .sub>li a .glyphicon{opacity:.3}
        .main .nav li a:hover .glyphicon,.main .sub>li a:hover .glyphicon{opacity:1}
    .main .menu li{display:inline-block}
        .main .menu a{margin:8px;color:#fff}
            .main .menu a,.main .menu:hover a,.main .menu a:focus{background-color:transparent}
    .main .sub li{margin:0 0 1px}
    .main .sub>li.active a,.main .sub>li.active a:hover{background-color:transparent}
    .container-liquid .row .main,
    .container-liquid .row .content{overflow:auto}
        .content label{font-weight:normal}
        .content .carousel img{width:100%}
        .content  .carousel-caption{text-shadow: 2px 2px 4px rgba(0,0,0,1)}
            .content .carousel h2{text-align:left}
            .content .carousel h6{font-weight:bold;text-align:left;text-transform:uppercase}
            .content .tickets .media .actions{margin-top:8px;padding:0}
                .content .tickets .media .actions li{margin-top:8px;padding:0}
                    .content .tickets .media .actions li a{color:#aaa;-webkit-transition:color .25s linear;transition:color .25s linear}
                    .content .tickets .media .actions li.on a{color:#428bca;-webkit-transition:color .25s linear;transition:color .25s linear}
            .content .carousel .glyphicon,.media .actions .glyphicon{margin-right:8px}
        .content textarea{resize:vertical}
        .content .alert{margin-bottom:8px}
        .content .form-horizontal .form-group{margin:12px 0}
        .content .margin{margin:8px 0}
    .container-liquid .row .sidebar-offcanvas{overflow:scroll}
/*.visible-xs{position:fixed;top:0;right:0;z-index:1050}*/
.breadcrumb,.thumbnail{margin-bottom:8px}
    .breadcrumb>li+li:before,.media .actions>li+li:before{padding:0 10px 0 5px;content:"\00b7"}
.panel>a>.glyphicon{margin-top:2px}
.margin-bottom{margin-bottom:8px}
.callout{background-color:#ecf3fa;border-left:3px solid #d0e2f2;margin:8px 0;padding:8px 16px}
    .callout h4{color:#428bca}
        .form-horizontal .callout{margin:0}
.warning{background-color:#fdf7f7;border-color:#efd4d4}
    .warning h4,.warning a{color:#b94a48}
.btn-xs{padding:2px 0}
.post{padding:0 8px;text-align:justify}
.nav .label{margin-top:2px}

.sidebar-offcanvas .sidebar-margin{margin:8px 8px 0 0}
    .sidebar-offcanvas .nav .panel{margin-bottom:1px;-webkit-box-shadow:0 1px 1px rgba(0, 0, 0, 0.0);box-shadow:0 1px 1px rgba(0, 0, 0, 0.0)}
.sidebar-offcanvas .panel .nav{margin:0}
    .sidebar-offcanvas .panel .nav li{margin:4px 12px}
    .sidebar-offcanvas .btn>.glyphicon{float:left}
.info .panel{margin:0;-webkit-box-shadow:0 1px 1px rgba(0, 0, 0, 0.0);box-shadow:0 1px 1px rgba(0, 0, 0, 0.0)}
    .info .panel>a{background-color:#f5f5f5;color:#aaa;margin-bottom:8px}
        .info .panel>a:hover{color:#333}

.btn{font-size:12px;font-weight:bold;text-transform:uppercase}
.btn,.nav>li>a{padding:8px 16px}
.btn-block+.btn-block{margin-top:4px}
    .btn .glyphicon{margin:2px 8px 0 0}
        .main .btn .glyphicon{margin:0}

.for_paginator{margin:4px}

.nav-stacked+.nav-stacked{margin-top:32px}

.btn{border:0}
.btn-default{background-color:#f5f5f5;border-color:#f5f5f5;color:#aaa}

.table-wallet{margin-top:12px;margin-bottom:24px}
    .table-wallet label{margin:2px 0;padding:0 8px;text-align:right;width:100%}
    .currency{font-size:10px;margin:0 4px;color:#aaa}

ul.leaders{padding:0;overflow-x:hidden;list-style:none;margin:0 8px}
ul.leaders li{margin:4px 0 8px}
ul.leaders li:before{color:#ccc;float:left;width:0;white-space: nowrap;content:"........................................................................................................................................................................................................................................................................................................................................................................................................................................................"}
ul.leaders span:first-child{background:white;font-weight:bold;text-transform:uppercase}
ul.leaders span + span{float:right;background:white}
.table .glyphicon,.table-wallet .input-group-addon{color:#aaa}

/* tickets */
.tickets .thumbnail{border-color:transparent;padding:8px 12px;-webkit-box-shadow:0 1px 3px transparent;-moz-box-shadow:0 1px 3px transparent;box-shadow:0 1px 3px transparent}
    .tickets .thumbnail>div{padding:0} /* remove col-* responsive */
	.tickets .thumbnail:hover{background-color:#f9f9f9;border-color:whiteSmoke;-webkit-box-shadow:0 1px 3px rgba(0, 0, 0, 0.055);cursor:pointer}
.tickets .media .off{color:#aaa}
.tickets .media-body{color:#aaa;clear:both}
    .tickets .media-body h4{font-size:14px;margin:0;padding:0;line-height:normal}
	.tickets .media-body h4 a:hover{text-decoration:none}
    .tickets .media-body .label{margin-left:4px}
    .tickets .media-body h4 span{font-size:12px;font-weight:normal;color:#aaa;margin:0 6px}
    .tickets .media-body ul{margin:0}
	    .tickets .media-body li{display:inline}
        .tooltip-inner{padding:8px 12px}
.tickets .details,.tickets .media-body{color:#aaa;font-size:12px;line-height:normal;margin:0;padding:0}
/*.tickets .details{color:#aaa;font-size:10px;font-weight:bold;text-transform:uppercase;line-height:normal;margin:0;padding:0}*/
    .tickets .media .pull-left,.tickets .media .details{margin:0 10px 4px 0}
    .tickets .details{display:table}
    /*.details > li + li:before{padding-right:5px;color:#cccccc;content:"\00b7"}*/
        .tickets .details li{list-style:none}
.tickets img{width:120px;height:80px}

.sidebar-offcanvas .tickets .media,.sidebar-offcanvas .tickets .media:hover{background-color:#f8f8f8;padding:8px 12px}
.sidebar-offcanvas .thumbnail{padding:0}
    .sidebar-offcanvas .thumbnail:hover{background-color:transparent;border-color:transparent;-webkit-box-shadow:0 1px 3px rgba(0, 0, 0, 0);cursor:default}

@media screen and (max-width:767px){
    .row-offcanvas{position:relative;-webkit-transition:all 0.25s ease-out;-moz-transition:all 0.25s ease-out;transition:all 0.25s ease-out}
    .row-offcanvas-right
    .sidebar-offcanvas{right:-50%}
    .row-offcanvas-left
    .sidebar-offcanvas{left:-50%}
    .row-offcanvas-right.active{right:50%}
    .row-offcanvas-left.active{left:50%}
    .sidebar-offcanvas{position:absolute;top:0;width:50%;z-index:1031}
}

@media (min-width:767px){
    .content{padding:0 8px 0 4px !important}
    .navbar{border-radius:0;height:100%;bottom:0;top:0;margin:0}
    .container-liquid,.row,.row>div/*,.container-liquid .margin*/{height:100%}
    .navbar-fixed-top{position:relative}
    .col-xs-1,.col-sm-1,.col-md-1,.col-lg-1,.col-xs-2,.col-sm-2,.col-md-2,.col-lg-2,.col-xs-3,.col-sm-3,.col-md-3,.col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
        padding:0 8px}
}
@media (max-width:767px){
    .content{margin-top:50px;padding:0 15px 0 22px}
    .sidebar-offcanvas{padding-left:0}
    .row-offcanvas-menu.active{position:fixed;right:50%;height:100%;z-index:1032;-webkit-transition:all 0.25s ease-out;-moz-transition:all 0.25s ease-out;transition:all 0.25s ease-out}
    .navbar-fixed-top{position:fixed;-webkit-transition:all 0.25s ease-out;-moz-transition:all 0.25s ease-out;transition:all 0.25s ease-out}
}

@media (max-width:450px){
    .navbar-brand{display:none}
}

/* CUSTOM SCROLLBAR FOR CHROME */
::-webkit-scrollbar{width:7px;height:7px}
::-webkit-scrollbar-track{background-color:rgba(0,0,0,0.0)}
::-webkit-scrollbar-track:hover{background-color:rgba(0,0,0,0.05)}
::-webkit-scrollbar-thumb{background-color:rgba(0,175,219,0.4)}
::-webkit-scrollbar-thumb:hover{background-color:rgba(0,175,219,0.7)}







/*.form-signin {
  padding:0;
  margin:12px auto;
}*/
.form-signin .alert{padding:8px 12px;margin:8px 0}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.carousel-caption h2{text-align:center;font-weight:bold;text-transform:uppercase;font-size:20px}