<div class="margin">
    <ul class="info nav nav-pills nav-stacked" id="profile-accordion" user-profile></ul>
    <div class="btn-group-sm pull-right for_paginator" pagination-for></div>
    <ul class="breadcrumb">
        <li class="active">Browse</li>
    </ul>
    <div ng-show="isMsg['load']" class="loading"><img src="/vertical/img/loading.gif"> Loading...</div>


    <div class="tickets">
        <div class="media thumbnail" ng-repeat="item in apps" ng-click="selectApp(item.Id)" app-ticket></div>
    </div>
    <div class="text-center" pagination></div>
</div>





