@model WRIO.Models.ProfileModel
@{
    ViewBag.Title = "Accounts";
}

@*@section Scripts{
    <script>
       function MiddleTab_OnClick(nodeObj) {
            var tab = $(nodeObj);
            tab.parent().find("li").attr("class", "");
            var li_list = tab.parent().find("li");
            for (var i = 0; i < li_list.length;i++) {
                var li = $(li_list[i]);
                var a = $(li.find("a"));
                var blockId = a.attr("href");
                $(blockId).attr("class", "tab-pane");
            }
            tab.attr("class", "active");
            var curBlockId = tab.find("a").attr("href");
            $(curBlockId).attr("class", "tab-pane active");
        }       
    </script>
}*@
<script>
    $(document).ready(function() {
        GetRateGs();
    });
    function Ajax2(controller, action, json) {
        var jsonToSend = json;
        if (json == null) {
            jsonToSend = {};
        }
        return $.ajax({
            url: '/' + controller + '/' + action,
            type: "POST",
            data: jsonToSend,
            dataType: "html",
            async: false
        });
    }
    function GetRateGs() {
        
        var uri = "http://www.goldrate24.com/gold-prices/north-america/united_states/";
        var result = Ajax2("Profile", "GetPageBy", { url: uri });
        result.done(function(data) {
            var page = $($.parseHTML(data));
            ParceDate(page);
        });
    }
    function ParceDate(page) {
        var txt = '24K';
        var gsRate = '';
        var elemCollection = page.find("#gr24_spot_gold_widget-2 tr");
        for (var i = 0; i < elemCollection; i++) {
            var curTr = $(elemCollection[i]);
            var thTxt = curTr.find("th").html();
            if (thTxt.indexOf(txt) != -1) {
                gsRate = curTr.find("td").html().replace("$", "");
                break;
            }
        }
        var result = Ajax("Profile", "SetGsRate", { rate: parseFloat(gsRate) });
        result.done(function (data) {
            //var curpage = $($.parseHTML(data));
            //ParceDate(curpage);
        });
        
    }
</script>

<div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="webrunes.htm"></a>
                <div class="nav-collapse">
                    <ul class="nav">
                        <li class="active"><a href="#"><i class="icon-tasks icon-white"></i></a></li>
                        <li><a href="webrunes.htm">Default</a></li>
                    </ul>
                </div>
                <div class="nav-collapse">
                    <ul class="nav pull-right">
                        <li><a href="#">$5.78</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <header>
            <div class="subnav">
                <ul class="nav nav-pills">
                    <li class="active"><a href="#">Accounts</a></li>
                    <li><a href="dashboard_content.htm">Content</a></li>
                    <li><a href="dashboard_wallet.htm">Wallet</a></li>
                </ul>
            </div>
        </header>

        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span3 leftmenu">
                    <div id="ProfileCarousel" class="carousel slide">
                        <div class="carousel-inner">
                            <div class="item active">
                                <div class="profile-ticket">
                                    <div class="media thumbnail">
                                        <span class="pull-left">
                                            <img class="media-object" src="img/no-photo.png"></span><div class="media-body">
                                                <h4>Anonymous</h4>
                                                <h5>Main profile</h5>
                                                <a href="#" class="btn btn-mini">Logout</a>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="btn-toolbar with_margin">
                        <button type="button" class="btn btn-large btn-block">Add account</button>
                    </div>
                    <ul class="nav">
                        <li class="active">
                            <a href="#" rel="" title=""><span class="text">Browse</span></a>
                        </li>
                    </ul>
                </div>

                <div class="span6 center-container">
                    <div class="row-fluid">
                        <ul class="nav nav-tabs">
                            <li><a href="#tab1" data-toggle="tab"><i class="icon-th-large"></i></a></li>
                            <li class="active"><a href="#tab2" data-toggle="tab">Anonymous <i class="icon-remove"></i></a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane" id="tab1">
                                <ul class="breadcrumb">
                                    <li class="active">Browse</li>
                                </ul>
                                <div class="tickets large">
                                    <div class="media thumbnail">
                                        <div class="pull-right">
                                            <div class="btn-group">
                                                <a href="dashboard_account.htm" class="btn"><i class="icon-edit"></i>&nbsp;Edit</a>
                                            </div>
                                        </div>
                                        <a class="pull-left" href="#">
                                            <img class="media-object" src="img/profile1.jpg"></a><div class="media-body">
                                                <h4>Alexey Anshakov</h4>
                                                <h5>Main profile</h5>
                                                <h6>Registered 22 June 2013</h6>
                                            </div>
                                    </div>
                                    <div class="media thumbnail">
                                        <div class="pull-right">
                                            <div class="btn-group">
                                                <a href="dashboard_account.htm" class="btn"><i class="icon-edit"></i>&nbsp;Edit</a>
                                            </div>
                                        </div>
                                        <a class="pull-left" href="#">
                                            <img class="media-object" src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRUYNBJZ6e10qpQCYkSUoJJmsFFs4iTAMQ70pzWBgfd-VtXbtdS"></a><div class="media-body">
                                                <h4>Twitter</h4>
                                                <h5>My twitter account</h5>
                                                <h6>Registered 22 June 2013</h6>
                                                <p><a href="twitter.com/username">twitter.com/username</a></p>
                                            </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane active" id="tab2">
                                <ul class="breadcrumb">
                                    <li><a href="dashboard_account.htm">Edit</a><span class="divider">/</span></li>
                                    <li class="active">Delete</li>
                                </ul>
                                <form class="form-horizontal">
                                    <div class="alert">
                                        <strong>Warning!</strong> Мы честны с нашими пользователями и полностью удаляем регистрационные данные - вы не сможете восстановить свою учетную запись, она будет удалена навсегда!
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="password">Password</label>
                                        <div class="controls">
                                            <input type="text" name="password" id="password">
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="description">Last word</label>
                                        <div class="controls">
                                            <textarea name="description" id="description" style="resize: vertical"></textarea>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <div class="controls">
                                            <a href="dashboard_account.htm" class="btn">Cancel</a>
                                            <a href="login.htm" class="btn btn-danger"><b>:-(</b>&nbsp;Say goodbye</a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="span3 widget">
                    <div class="accordion">
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a href="#contacts" data-toggle="collapse" class="accordion-toggle" data-original-title="">
                                    <i class="icon-comment icon-white"></i>&nbsp;<span class="divider-vertical"></span>Contacts <i class="icon-chevron-down icon-white pull-right"></i>
                                </a>
                            </div>
                            <div class="accordion-body in collapse" id="contacts">
                                <div id="collapse-group" class="accordion">
                                    <div class="box accordion-group">
                                        <div class="box-title" data-toggle="collapse" data-target="#ia" data-parent="#collapse-group">
                                            <span class="ico"><i class="icon-user"></i></span>IA - Individual Assistant
                                        </div>
                                        <div id="ia" class="box-content in collapse">
                                            Привет, я - IA и я рада вас приветствовать! Если вы зашли к нам впервые, то я буду счастлива познакомиться и рассказать о себе и проекте. Если у вас уже есть учетная запись, то после логина мы сможем продолжить на чем остановились в прошлый раз.
                                        </div>
                                    </div>
                                    <div class="box accordion-group">
                                        <div class="box-title" data-toggle="collapse" data-target="#history" data-parent="#collapse-group">
                                            <span class="ico"><i class="icon-eye-open"></i></span>History
                                        </div>
                                        <div id="history" class="box-content collapse">
                                            <i>Empty</i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="container">
                <ul class="footer-links">
                    <li><a href="#">Support</a></li>
                    <li class="muted">·</li>
                    <li><a href="#">Terms</a></li>
                    <li class="muted">·</li>
                    <li><a href="#">Privacy</a></li>
                    <li class="pull-right copyright">&copy; 2013 webRunes</li>
                    <li class="muted pull-right">·</li>
                    <li class="pull-right"><a href="#">English</a></li>
                </ul>
            </div>
        </footer>
    </div>

    