<div class="margin">
                    <ul class="info nav nav-pills nav-stacked" id="profile-accordion">
                        <li class="panel"><a href="#profile-element" data-parent="#profile-accordion" data-toggle="collapse" class=""><span class="glyphicon glyphicon-chevron-down pull-right"></span>Logged with WRIO</a>
                            <div class="in" id="profile-element">
                                <div class="tickets">
                                    <div class="media thumbnail">
                                        <div class="col-xs-12 col-md-6 col-lg-5">
                                            <img src="{{profile.Avatar}}" class="pull-left">
                                            <ul class="details">
                                                <li>Name: {{profile.NickName}}</li>
                                                <li>Registered: 22 Jun 2013</li>
                                                <li>Rating: 244</li>
                                                <li>Followers: 1,634</li>
                                                <li>Posts: 1,634</li>
                                            </ul>
                                        </div>
                                        <div class="col-xs-12 col-md-6 col-lg-7">
                                            <div class="media-body">
                                                Disclaimer: We start a 
series of stories describing various issues and problems that are 
related for the most part to the Internet, and our vision of possible 
ways to solve them. Those will often be followed by previews of projects
 mentioned in the stories. Keep in mind: some of them might change, some
 will remain just our fantasy; at this moment we are a small team, but 
with a great desire to change this world for the better or at least a 
little bit.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <ul class="breadcrumb">
                        <li class="active">Withdraw</li>
                    </ul>
                    <ul class="leaders">
                        <li><span>Current Balance&nbsp;</span>
                            <span>&nbsp;{{balanceModel.Gs}}<small class="currency">WRG</small><sup class="currency">{{balanceModel.Usd}} USD</sup></span></li>
                        <li><span>Exchange Rate&nbsp;</span>
                            <span>&nbsp;10 000<small class="currency">WRG</small>=&nbsp;{{balanceModel.Currency}}<small class="currency">USD</small></span></li>
                    </ul>
                    <table class="table-wallet margin-bottom col-sm-offset-1">
                        <tbody><tr>
                            <td><label for="inputAmount">Amount</label></td>
                            <td><div class="input-group input-group-sm">
                                  <span class="input-group-addon">WRG</span>
                                  <input class="form-control" id="inputAmount" value="1000" required="required" type="number">
                                </div></td>
                            <td><label>=</label></td>
                            <td><div class="input-group input-group-sm">
                                  <span class="input-group-addon">USD</span>
                                  <input class="form-control" id="Amount" value="4.65" type="number">
                                </div></td>
                            <td><label></label></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td colspan="4">
                                <span class="help-block">PayPal fee is 2.9% + $0.30</span>
                            </td>
                        </tr>
                        <tr>
                            <td><label for="inputAmount">Email</label></td>
                            <td colspan="4"><input class="form-control" id="inputEmail" value="{{profile.Email}}" required="required" type="email"></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td colspan="4">
                                <span class="help-block">Linked to PayPal account.<br>The money will be transferred within the next 72 hours</span>
                            </td>
                        </tr>
                    </tbody></table>
                    <div class="col-xs-12">
                        <div class="form-group">
                            <div class="pull-right">
                                <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-arrow-up"></span>Withdraw</button>
                            </div>
                        </div>
                    </div>
                </div>