<div class="margin">
    <ul class="info nav nav-pills nav-stacked" id="profile-accordion" user-profile></ul>
    <div class="btn-group-sm pull-right for_paginator" pagination-for></div>
    <ul class="breadcrumb">
        <li class="active">Cover</li>
    </ul>
    <div ng-show="isMsg['load']" class="loading"><img src="/app/img/loading.gif"> Loading...</div>


    <div class="tickets">
        <div class="media thumbnail" ng-repeat="item in posts" ng-click="selectPost(item.Guid)" post-ticket></div>
    </div>
    <div class="text-center" pagination></div>
</div>
