<div class="sidebar-margin">
    <ul class="info nav nav-pills nav-stacked" id="ticket-accordion" hub-widget></ul>
    <div class="margin-bottom">
        <button ng-click="compose()" type="button" class="btn btn-default btn-block"><span class="glyphicon glyphicon-pencil"></span>Create</button>
        <button type="button" class="btn btn-default btn-block"><span class="glyphicon glyphicon-plus-sign"></span>Read</button>
    </div>
    <ul class="nav nav-pills nav-stacked" id="sidebar-accordion">
        <li class="panel"><a href="#sidebar-element1" data-parent="#sidebar-accordion" data-toggle="collapse"><span class="glyphicon glyphicon-chevron-down pull-right"></span>Cover</a>
            <div class="in" id="sidebar-element1">
                <ul class="nav nav-pills nav-stacked">
                    <li><a href="">About</a></li>
                    <li><a href="#"><span class="label label-success pull-right">Class A</span>Terms</a></li>
                    <li><a href="#"><span class="label label-danger pull-right">Class E</span>Privacy</a></li>
                </ul>
            </div>
        </li>
        <li class="panel"><a href="#sidebar-element2" class="collapsed" data-parent="#sidebar-accordion" data-toggle="collapse"><span class="glyphicon glyphicon-chevron-down pull-right"></span>Content</a>
            <div class="collapse" id="sidebar-element2">
                <ul class="nav nav-pills nav-stacked">
                    <li><a href="#">Bookmarks</a></li>
                    <li><a href="#">History</a></li>
                </ul>
            </div>
        </li>
        <li class="panel"><a href="#sidebar-element3" class="collapsed" data-parent="#sidebar-accordion" data-toggle="collapse"><span class="glyphicon glyphicon-chevron-down pull-right"></span>Shares</a>
            <div class="collapse" id="sidebar-element3">
                <ul class="nav nav-pills nav-stacked">
                    <li><a href="#">Buy</a></li>
                    <li><a href="#">Sell</a></li>
                </ul>
            </div>
        </li>
    </ul>
    <ul class="nav nav-pills nav-stacked">
        <li class="active"><a href="#">Feed</a></li>
    </ul>

    <script src="/app/js/offcanvas.js"></script>
</div>
