<div class="margin">
    <ul class="breadcrumb">
        <li class="active">Welcome</li>
    </ul>
    <div class="callout visible-xs">
        <button type="button" class="close" data-dismiss="callout" aria-hidden="true">×</button>
        <h4>First time here?</h4>
        <p>Pay attention to the icon above <span class="glyphicon glyphicon-transfer"></span>. Click it to open a side menu</p>
    </div>
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button><strong>Внимание</strong> - эксперементальный проект, в стадии разработки. Заявленные функции будут подключаться по мере его развития.
    </div>
    <div id="cover-carousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#cover-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#cover-carousel" data-slide-to="1"></li>
            <li data-target="#cover-carousel" data-slide-to="2"></li>
            <li data-target="#cover-carousel" data-slide-to="3"></li>
            <li data-target="#cover-carousel" data-slide-to="4"></li>
            <li data-target="#cover-carousel" data-slide-to="5"></li>
        </ol>
        <div class="carousel-inner">
            <div class="item active">
                <div class="img" style="background-image: url('../../img/sign_in-slide1.jpg')"></div>
                <div class="carousel-caption">
                    <div class="carousel-text">
                        <h2>All your stuff in one place</h2>
                        <h6><span class="glyphicon glyphicon-ok"></span>подбор интересного контента на основе ваших предпочтений</h6>
                        <h6><span class="glyphicon glyphicon-ok"></span>отображение и организация любимых сайтов в удобном для вас виде</h6>
                        <h6><span class="glyphicon glyphicon-ok"></span>единый каталог всех ваших статей, книг, фото / аудио / видео материалов</h6>
                        <h6><span class="glyphicon glyphicon-ok"></span>возможность поддержки ваших любимых авторов материально</h6>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="img" style="background-image: url('../../img/sign_in-slide2.jpg')"></div>
                <div class="carousel-caption">
                    <div class="carousel-text">
                        <h2>Надежная защита</h2>
                        <h6><span class="glyphicon glyphicon-ok"></span>хранение всех ваших логинов и паролей</h6>
                        <h6><span class="glyphicon glyphicon-ok"></span>шифрование почты</h6>
                        <h6><span class="glyphicon glyphicon-ok"></span>защита личных данных</h6>
                        <h6><span class="glyphicon glyphicon-ok"></span>защита от вирусов, мошенников, спама, отслеживания и цензуры</h6>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="img" style="background-image: url('../../img/sign_in-slide3.jpg')"></div>
                <div class="carousel-caption">
                    <div class="carousel-text">
                        <h2>Если вы занимаетесь фото/видео съемками</h2>
                        <h6><span class="glyphicon glyphicon-ok"></span>обработка и хранение фото и видео материалов</h6>
                        <h6><span class="glyphicon glyphicon-ok"></span>удобный процесс продажи ваших работ</h6>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="img" style="background-image: url('../../img/sign_in-slide4.jpg')"></div>
                <div class="carousel-caption">
                    <div class="carousel-text">
                        <h2>Если вы музыкант</h2>
                        <h6><span class="glyphicon glyphicon-ok"></span>простой доступ к вашей музыке фанатами</h6>
                        <h6><span class="glyphicon glyphicon-ok"></span>продажа треков в один клик</h6>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="img" style="background-image: url('../../img/sign_in-slide5.jpg')"></div>
                <div class="carousel-caption">
                    <div class="carousel-text">
                        <h2>или автор</h2>
                        <h6><span class="glyphicon glyphicon-ok"></span>публикация книг онлайн</h6>
                        <h6><span class="glyphicon glyphicon-ok"></span>возможность коллективного написания произведений</h6>
                        <h6><span class="glyphicon glyphicon-ok"></span>перевод на другие языки и монетизация вашего блога и публикаций в социальных сетях</h6>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="img" style="background-image: url('../../img/sign_in-slide6.jpg')"></div>
                <div class="carousel-caption">
                    <div class="carousel-text">
                        <h2>Сцены</h2>
                        <h6><span class="glyphicon glyphicon-ok"></span>прямая связь с фанатами вашего творчества</h6>
                        <h6><span class="glyphicon glyphicon-ok"></span>слушателями вашей музыки</h6>
                        <h6><span class="glyphicon glyphicon-ok"></span>и читателями ваших книг и статей</h6>
                    </div>
                </div>
            </div>
        </div>
        <a class="left carousel-control" href="#cover-carousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#cover-carousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
</div>
