<div class="navbar navbar-inverse main navbar-fixed-top row-offcanvas-menu" role="navigation">
    <div class="navbar-header">
        <ul class="nav menu pull-right">
            <li><a href="#" class="btn-link btn-sm"><span class="glyphicon glyphicon-fullscreen"></span></a></li>
            <li><a href="#" class="btn-link btn-sm visible-xs" data-toggle="collapse" data-target=".navbar-collapse"><span class="glyphicon glyphicon-align-justify"></span></a></li>
            <li><a href="#" class="btn-link btn-sm visible-xs" data-toggle="offcanvas"><span class="glyphicon glyphicon-transfer"></span></a></li>
        </ul>
        <a href="#" class="navbar-brand">&nbsp;</a>
    </div>
    <div class="navbar-collapse in">
        <ul class="nav navbar-nav" id="Ul1">
            <li class="panel"><a href="#element1" class="collapsed" data-parent="#nav-accordion" data-toggle="collapse"><span class="qty btn-xs pull-right">4</span>Alexey Anshakov</a>
                <div class="collapse" id="Div1"></div>
            </li>
            <li class="new panel active"><a href="#element2" data-parent="#nav-accordion" data-toggle="collapse"><span class="glyphicon glyphicon-plus-sign"></span></a>
                <div class="collapse" id="Div2"></div>
            </li>
        </ul>
    </div>
</div>