<div class="margin">
    <ul class="breadcrumb">
        <li class="active">Welcome</li>
    </ul>
    <div class="callout visible-xs">
        <button type="button" class="close" data-dismiss="callout" aria-hidden="true">×</button>
        <h5>First time here?</h5>
        <p>Pay attention to the icon above <span class="glyphicon glyphicon-transfer"></span>. Click it to open a side menu</p>
    </div>
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button><strong>Внимание</strong> - эксперементальный проект, в стадии разработки. Заявленные функции будут подключаться по мере его развития.
    </div>
    <div id="cover-carousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#cover-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#cover-carousel" data-slide-to="1"></li>
            <li data-target="#cover-carousel" data-slide-to="2"></li>
            <li data-target="#cover-carousel" data-slide-to="3"></li>
            <li data-target="#cover-carousel" data-slide-to="4"></li>
            <li data-target="#cover-carousel" data-slide-to="5"></li>
            <li data-target="#cover-carousel" data-slide-to="6"></li>
        </ol>
        <div class="carousel-inner">
            <div class="item active">
                <div class="img" style="background: url('/app/img/sign_in-cover.jpg') center bottom"></div>
                <div class="carousel-caption">
                    <div class="carousel-text">
                        <h2>Internet upgrade</h2>
                        <div class="description">Наша цель - изменение парадигмы Интернета, связывание существующих сервисов и создание на основе их особенностей новых расширенных сервисов.</div>
                        <ul class="features">
                            <li><span class="glyphicon glyphicon-ok"></span>ваши любимые сервисы в новом свете, с новыми функциями и возможностями</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="img" style="background:url('/app/img/sign_in-cover1.jpg') center center"></div>
                <div class="carousel-caption">
                    <div class="carousel-text">
                        <h2>All your stuff in one place</h2>
                        <ul class="features">
                            <li><span class="glyphicon glyphicon-ok"></span>подбор интересного контента на основе ваших предпочтений</li>
                            <li><span class="glyphicon glyphicon-ok"></span>отображение и организация любимых сайтов в удобном для вас виде</li>
                            <li><span class="glyphicon glyphicon-ok"></span>единый каталог всех ваших статей, книг, фото / аудио / видео материалов</li>
                            <li><span class="glyphicon glyphicon-ok"></span>возможность поддержки ваших любимых авторов материально</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="img" style="background:url('/app/img/sign_in-cover2.jpg') center center"></div>
                <div class="carousel-caption">
                    <div class="carousel-text">
                        <h2>Надежная защита</h2>
                        <ul class="features">
                            <li><span class="glyphicon glyphicon-ok"></span>хранение всех ваших логинов и паролей</li>
                            <li><span class="glyphicon glyphicon-ok"></span>шифрование почты</li>
                            <li><span class="glyphicon glyphicon-ok"></span>защита личных данных</li>
                            <li><span class="glyphicon glyphicon-ok"></span>защита от вирусов, мошенников, спама, отслеживания и цензуры</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="img" style="background:url('/app/img/sign_in-cover3.jpg') center center"></div>
                <div class="carousel-caption">
                    <div class="carousel-text">
                        <h2>Если вы занимаетесь фото/видео съемками</h2>
                        <ul class="features">
                            <li><span class="glyphicon glyphicon-ok"></span>обработка и хранение фото и видео материалов</li>
                            <li><span class="glyphicon glyphicon-ok"></span>удобный процесс продажи ваших работ</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="img" style="background:url('/app/img/sign_in-cover4.jpg') center center"></div>
                <div class="carousel-caption">
                    <div class="carousel-text">
                        <h2>Если вы музыкант</h2>
                        <ul class="features">
                            <li><span class="glyphicon glyphicon-ok"></span>простой доступ к вашей музыке фанатами</li>
                            <li><span class="glyphicon glyphicon-ok"></span>продажа треков в один клик</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="img" style="background:url('/app/img/sign_in-cover5.jpg') center center"></div>
                <div class="carousel-caption">
                    <div class="carousel-text">
                        <h2>или автор</h2>
                        <ul class="features">
                            <li><span class="glyphicon glyphicon-ok"></span>публикация книг онлайн</li>
                            <li><span class="glyphicon glyphicon-ok"></span>возможность коллективного написания произведений</li>
                            <li><span class="glyphicon glyphicon-ok"></span>перевод на другие языки и монетизация вашего блога и публикаций в социальных сетях</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="img" style="background:url('/app/img/sign_in-cover6.jpg') center center"></div>
                <div class="carousel-caption">
                    <div class="carousel-text">
                        <h2>Сцены</h2>
                        <ul class="features">
                            <li><span class="glyphicon glyphicon-ok"></span>прямая связь с фанатами вашего творчества</li>
                            <li><span class="glyphicon glyphicon-ok"></span>слушателями вашей музыки</li>
                            <li><span class="glyphicon glyphicon-ok"></span>и читателями ваших книг и статей</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <a class="left carousel-control" href="#cover-carousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#cover-carousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
</div>
