<div class="navbar navbar-inverse main navbar-fixed-top row-offcanvas-menu" role="navigation">
    <div class="navbar-header">
        <ul class="nav menu pull-right">
            <li><a href="#" class="btn-link btn-sm"><span class="glyphicon glyphicon-comment"></span></a></li>
            <li><a href="#" class="btn-link btn-sm"><span class="glyphicon glyphicon-envelope"></span></a></li>
            <li><a href="#" class="btn-link btn-sm"><span class="glyphicon glyphicon-lock"></span></a></li>
            <li><a href="#" class="btn-link btn-sm"><span class="glyphicon glyphicon-fullscreen"></span></a></li>
            <li><a href="#" class="btn-link btn-sm visible-xs" data-toggle="collapse" data-target=".navbar-collapse"><span class="glyphicon glyphicon-align-justify"></span></a></li>
            <li><a href="#" class="btn-link btn-sm visible-xs" data-toggle="offcanvas"><span class="glyphicon glyphicon-transfer"></span></a></li>
        </ul>
        <a href="#" class="navbar-brand">&nbsp;</a>
    </div>
    <div class="navbar-collapse in">
        <ul class="nav navbar-nav" id="nav-accordion">
            <li class="panel">
            </li>
            <li class="new panel active"><a href="#" data-parent="#nav-accordion" data-toggle="collapse"><span class="glyphicon glyphicon-plus"></span></a>
                <div class="collapse" id="element2"></div>
            </li>
        </ul>
    </div>
</div>
