<div class="margin">
    <ul class="info nav nav-pills nav-stacked" id="profile-accordion" user-profile></ul>
    <ul class="breadcrumb">
        <li class="active">Invite the author</li>
    </ul>
    <div ng-show="msg['load']" class="loading"><img src="/app/img/loading.gif"> Loading...</div>
    <div ng-show="isPublished" class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong>Your post has been successfully published.</strong> Keep on going! Make a few more optional, yet highly recommended steps
    </div>
    <div class="callout">
        <h5>Help the author</h5>
        <p>The author will not get donations until registered on webRunes. Help the author and send an invitation!</p>
    </div>
    <div ng-show="isGoogle" class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <strong>Warning</strong>
        <p>Currently the invitation link to author cannot be sent to Google Plus automatically. However, you can <a ng-href="{{plusUrl}}" target="_blank" data-container="body" data-toggle="popover" data-placement="top" data-trigger="hover" data-original-title="Alexey Anshakov" data-content="Description. Click to read more on plus.google.com">follow the link<sup><span class="glyphicon glyphicon-new-window"></span></sup></a> and send an invitation text personally or specify another type of contact with the author.</p>
    </div>
    <div ng-show="isFacebook" class="alert alert-info">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <strong>Info</strong>
        <p>A dialog window will appear after you click "Send invite". We recommend to copy-paste our invitation text there, which can be found below, or you can compose your own text.</p>
    </div>
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label for="id-Author-contact" class="col-xs-12 col-sm-4 col-md-3 control-label">Author contact</label>
            <div class="col-xs-6 col-sm-4 col-md-4">
                <select ng-change="changeContact()" ng-model="select.author" ng-options="c for c in select.authors" class="form-control"></select>
            </div>
            <div ng-show="isContact" class="col-xs-6 col-sm-4 col-md-5" ng-class="checkHasError()">
                <input ng-change="changeContactData()" ng-model="model.authorAccount" type="text" class="form-control" id="id-Contact" placeholder="{{model.placeHolder}}">
                <div ng-show="isErrorContact" class="help-block">{{model.placeError}}</div>
            </div>
        </div>
        <div ng-show="isEmail" class="form-group">
            <label for="id-Name" class="col-sm-4 col-md-3 control-label">Your name</label>
            <div class="col-xs-6 col-sm-4 col-md-4">
                <input ng-model="model.firstName" type="text" class="form-control" id="id-First" maxlength="32" placeholder="First">
            </div>
            <div class="col-xs-6 col-sm-4 col-md-5">
                <input ng-model="model.secondName" type="text" class="form-control" id="id-Last" maxlength="32" placeholder="Last">
            </div>
        </div>
        <div ng-show="isWelcom" class="form-group">
            <label for="id-Description" class="col-sm-4 col-md-3 control-label">Invitation text</label>
            <div class="col-sm-8 col-md-9">
                <textarea ng-bind="getInviteText()" class="form-control" rows="8"></textarea>
            </div>
        </div>
        <div class="form-group col-xs-12">
            <a ng-show="isCompose" ng-click="back()" href="" class="btn btn-default"><span class="glyphicon glyphicon-arrow-left"></span>Back</a>
            <div class="pull-right">
                <a ng-click="skip()" href="#" class="btn btn-default"><span class="glyphicon glyphicon-arrow-right"></span>Skip</a>
                <a ng-show="isInvite" ng-click="sendInvite()" href="#" class="btn btn-primary"><span class="glyphicon glyphicon-send"></span>Send invite</a>
            </div>
        </div>
    </form>
</div>
<div id="fb-root"></div>
<script>
    window.fbAsyncInit = function() {
        FB.init({
            appId: '1474466086110694',
            login: true,
            status: true,
            xfbml: true
        });
    };

    (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
