<div class="margin">
    <ul class="info nav nav-pills nav-stacked" id="profile-accordion" user-profile></ul>
    <ul class="breadcrumb">
        <li class="active">Invitation</li>
    </ul>
    <div class="callout"><h6>Did you know?</h6><b>Uncle Sam</b> (initials U.S.) is a common national personification of the American government that, according to legend, came into use during the War of 1812 and was supposedly named for Samuel Wilson. <a href="http://en.wikipedia.org/wiki/Uncle_sam" target="_blank" data-container="body" data-toggle="popover" data-placement="top" data-trigger="hover" data-original-title="Uncle Sam" data-content='The first use of Uncle Sam in literature was in the 1816 allegorical book "The Adventures of Uncle Sam in Search After His Lost Honor" by Frederick Augustus Fidfaddy, Esq. An Uncle Sam is mentioned as early as 1775, in the original "Yankee Doodle" lyrics of the Revolutionary War. Click to open http://en.wikipedia.org/wiki/Uncle_sam'>Learn more<sup><span class="glyphicon glyphicon-new-window"></span></sup></a></div>
    <div id="cover-carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="item active">
                <div class="img" style="background-image: url('/app/img/invite-cover1.jpg')"></div>
                <div class="carousel-caption">
                    <div class="carousel-text">
                        <h2>Invitation<sup><span class="label label-warning">Special</span></sup></h2>
                        <h6>We need authors like you</h6>
                        <div class="description">This invitation is meant for the author of the materials this post is based on. To confirm it is sufficient to log in the {{userAccount}}, to which the invitaiton was registered.</div>
                        <button ng-click="onClickIam()" type="button" class="btn btn-success btn-invitation"><span class="glyphicon glyphicon-star"></span>I'm the author!</button>
                        <ul class="features">
                            <li><span class="glyphicon glyphicon-ok"></span>you will receive money collected by the post</li>
                            <li><span class="glyphicon glyphicon-ok"></span>as a registered user you will be able to create new posts</li>
                            <li><span class="glyphicon glyphicon-ok"></span>and will be able to do a lot more that you will learn right away after the registration!</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
