<div class="margin">
    <ul class="info nav nav-pills nav-stacked" id="profile-accordion" user-profile></ul>
    <ul class="breadcrumb">
        <li class="active">Share</li>
    </ul>
    <div ng-show="msg['load']" class="loading"><img src="/app/img/loading.gif"> Loading...</div>
    <div class="callout">
        <h5>Spread the word!</h5>
        <p>Делитесь постами с друзьями и своими подписчиками в соцсетях! Это не только поможет им найти интересный контент, но и позволит вам получать 25% от донейтов полученных автором при переходах по вашим ссылкам.</p>
        <p>
            <button ng-click="openWindow('google')" type="button" class="btn btn-primary">Google+</button>
            <button ng-click="openWindow('facebook')" type="button" class="btn btn-primary">Facebook</button>
            <button ng-click="openWindow('twitter')" type="button" class="btn btn-primary">Twitter</button>
        </p>
    </div>
    <div class="form-group col-xs-12">
        <a ng-show="isCompose" ng-click="back()" href="" class="btn btn-default"><span class="glyphicon glyphicon-arrow-left"></span>Back</a>
        <div class="pull-right">
            <a ng-click="finish()" href="#" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span>Finish</a>
        </div>
    </div>
</div>
