<div class="margin">
                    <ul class="info nav nav-pills nav-stacked" id="profile-accordion">
                        <li class="panel"><a href="#profile-element" data-parent="#profile-accordion" data-toggle="collapse" class=""><span class="glyphicon glyphicon-chevron-down pull-right"></span>Logged with WRIO</a>
                            <div class="in" id="profile-element">
                                <div class="tickets">
                                    <div class="media thumbnail">
                                        <div class="col-xs-12 col-md-6 col-lg-5">
                                           <img src="{{profile.Avatar}}" class="pull-left">
                                            <ul class="details">
                                                <li>Name: {{profile.NickName}}</li>
                                                <li>Registered: 22 Jun 2013</li>
                                                <li>Rating: 244</li>
                                                <li>Followers: 1,634</li>
                                                <li>Posts: 1,634</li>
                                            </ul>
                                        </div>
                                        <div class="col-xs-12 col-md-6 col-lg-7">
                                            <div class="media-body">
                                                Disclaimer: We start a 
series of stories describing various issues and problems that are 
related for the most part to the Internet, and our vision of possible 
ways to solve them. Those will often be followed by previews of projects
 mentioned in the stories. Keep in mind: some of them might change, some
 will remain just our fantasy; at this moment we are a small team, but 
with a great desire to change this world for the better or at least a 
little bit.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <ul class="breadcrumb">
                        <li class="active">Add funds</li>
                    </ul>
                    <div class="form-group">
                        <div class="callout">
                            <h5>Info</h5>
                            <p>The maximum purchase and sell amount is temporarily set at 99 999 WRG per day</p>
                            <p>You can pay with PayPal or credit card</p>
                        </div>
                        <div class="alert alert-success" ng-show="isMsg['done']">
                            <button type="button" class="close" data-dismiss="alert">×</button>
                            Done. You purchased {{withdrawModel.Gs}} WRG
                        </div>
                        <div class="alert alert-danger" ng-show="isMsg['error']">
                            <button type="button" class="close" data-dismiss="alert">×</button>
                            The transfer has been cancelled
                        </div>
                        <ul class="leaders">
                            <li><span>Current balance&nbsp;</span>
                                <span>&nbsp;{{balanceModel.Gs}}<small class="currency">WRG</small><sup class="currency">{{balanceModel.Usd}} USD</sup></span></li>
                            <li><span>Exchange rate&nbsp;</span>
                                <span>&nbsp;10 000<small class="currency">WRG</small>=&nbsp;{{balanceModel.Currency}}<small class="currency">USD</small></span></li>
                        </ul>
                    </div>
                    <div class="form-horizontal form-group col-xs-12">
                        <div class="col-xs-12 col-md-3 col-lg-2">
                            <label class="col-sm-2 control-label" for="amountUSD">Amount</label>
                        </div>
                        <div class="col-xs-12 col-md-4 col-lg-3 has-error">
                            <div class="input-group input-group-sm tooltip-demo">
                                <span class="input-group-addon">USD</span>
                                <input class="form-control" id="amountUSD" value="0" min="0" type="number" ng-model="withdrawModel.Usd" ng-change="changeGs()">
                            </div>
                            <div class="help-block">Insufficient funds</div>
                        </div>
                        <div class="col-xs-12 col-md-1 col-lg-1 align-center">
                            <label class="control-label">=</label>
                        </div>
                        <div class="col-xs-12 col-md-4 col-lg-3 has-error">
                            <div class="input-group input-group-sm">
                                <span class="input-group-addon">WRG</span>
                                <input class="form-control" id="amountWRG" value="0" min="0" type="number" ng-model="withdrawModel.Gs" ng-change="changeUsd()">
                            </div>
                            <div class="help-block">Max 99 999 WRG per day</div>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="form-group">
                            <div class="pull-right">
                                <button type="submit" class="btn btn-success" ng-click="addFunds()"><span class="glyphicon glyphicon-arrow-down"></span>Add funds</button>
                            </div>
                        </div>
                    </div>
                </div>