<div class="sidebar-margin">
                    <ul class="info nav nav-pills nav-stacked" id="ticket-accordion">
                        <li class="panel"><a href="#ticket-element" data-parent="#ticket-accordion" data-toggle="collapse" class=""><span class="glyphicon glyphicon-chevron-down pull-right"></span>App</a>
                            <div class="in" id="ticket-element">
                                <div class="tickets">
                                    <div class="media thumbnail">
                                        <div class="col-xs-12">
                                            <img src="webgold-add_funds_files/no-photo.png" class="pull-left">
                                            <ul class="details">
                                                <li>Name: webGold</li>
                                                <li>Published: 22 Jun 2013</li>
                                                <li>Rating: 244</li>
                                                <li>Users: 1,634</li>
                                                <li>Price: Free</li>
                                            </ul>
                                        </div>
                                        <div class="col-xs-12">
                                            <div class="media-body">
                                                webGold
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="margin-bottom">
                        <button type="button" class="btn btn-primary btn-block"><span class="glyphicon glyphicon-arrow-down"></span>Add funds</button>
                        <button type="button" class="btn btn-default btn-block"><span class="glyphicon glyphicon-arrow-up"></span>Withdraw</button>
                    </div>
                    <ul class="nav nav-pills nav-stacked" id="sidebar-accordion">
                        <li class="panel"><a href="#sidebar-element1" class="collapsed" data-parent="#sidebar-accordion" data-toggle="collapse"><span class="glyphicon glyphicon-chevron-down pull-right"></span>Cover</a>
                            <div class="collapse" id="sidebar-element1">
                                <ul class="nav nav-pills nav-stacked">
                                    <li><a href="#">News</a></li>
                                    <li><a href="http://gitlab.wr.io/in/blob/Prototype/vertical/browser-about.htm">About</a></li>
                                    <li><a href="#">Terms</a></li>
                                    <li><a href="#">Privacy</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="panel"><a href="#sidebar-element2" data-parent="#sidebar-accordion" data-toggle="collapse"><span class="glyphicon glyphicon-chevron-down pull-right"></span>Transactions</a>
                            <div class="in" id="sidebar-element2">
                                <ul class="nav nav-pills nav-stacked">
                                    <li><a href="#">History</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>