<div class="margin">
    <ul class="info nav nav-pills nav-stacked" id="profile-accordion" user-profile></ul>
    <ul class="breadcrumb">
        <li class="active">Language</li>
    </ul>
    <article class="post">
        <h1>Choose languages</h1>
        <div class="paragraph">
            <p class="col-xs-12 col-md-6 col-lg-5">
                Выберите все языки на которых вы хотите читать и создавать посты. Установка влияет на языковой выбор при создании поста.
            </p>
            <div class="col-xs-12 col-md-6 col-lg-7">
                <div class="callout">
                    <h6>Notification</h6>
                    <p>Вы можете создавать посты на любых языках и распространять ссылки на них самостоятельно среди друзей, в соцсетях и любыми другими методами, однако наша система пока не будет отображать их в feeds и рекомендовать другим пользователям. Она научится работать с другими языками позже</p>
                </div>
            </div>
        </div>
    </article>
    <form class="form-horizontal" role="form">
        <ul class="nav nav-pills nav-stacked tooltip-demo col-xs-6 col-md-6 col-lg-5">
            <li ng-repeat="lang in langs" ng-click="onClickLang(lang.Language)" ng-class="checkActiveCls(lang.Language)">
                <a href="#" id="{{lang.Language}}" data-toggle="tooltip" data-placement="right" title="{{lang.Title}}">
                    <span ng-show="checkSelectedLang(lang.Language)" class="glyphicon glyphicon-ok pull-right" data-toggle="tooltip" data-placement="right" title="available"></span>
                    {{lang.Name}}
                </a>
            </li>
        </ul>
        <div class="form-group col-xs-12">
        </div>
    </form>
</div>
