
                <div class="margin">
                    <ul class="info nav nav-pills nav-stacked" id="profile-accordion">
                        <li class="panel"><a href="#profile-element" data-parent="#profile-accordion" data-toggle="collapse" class=""><span class="glyphicon glyphicon-chevron-down pull-right"></span>Logged with WRIO</a>
                            <div class="in" id="profile-element">
                                <div class="tickets">
                                    <div class="media thumbnail">
                                        <div class="col-xs-12 col-md-6 col-lg-5">
                                            <img src="wrio-account-edit_files/profile1.jpg" class="pull-left">
                                            <ul class="details">
                                                <li>Name: Alexey Anshakov</li>
                                                <li>Registered: 22 Jun 2013</li>
                                                <li>Rating: 244</li>
                                                <li>Followers: 1,634</li>
                                                <li>Posts: 1,634</li>
                                            </ul>
                                        </div>
                                        <div class="col-xs-12 col-md-6 col-lg-7">
                                            <div class="media-body">
                                                Disclaimer: We start a 
series of stories describing various issues and problems that are 
related for the most part to the Internet, and our vision of possible 
ways to solve them. Those will often be followed by previews of projects
 mentioned in the stories. Keep in mind: some of them might change, some
 will remain just our fantasy; at this moment we are a small team, but 
with a great desire to change this world for the better or at least a 
little bit.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <ul class="breadcrumb">
                        <li class="active">Edit</li>
                    </ul>
                    <div class="callout">
                        <h5>Public profile</h5>
                        <p>Имя и описание публичного профайла доступны 
для просмотра всем желающим. Если вы не хотите публиковать посты под 
собственным именем, то можете создать <a href="#">Alias account</a>.</p>
                    </div>
                    <div class="callout warning">
                        <h5>Upgrade guest account for free (30 days left)</h5>
                        <p>Ваша учетная запись сохранена на этом 
компьютере. Пожалуйста, введите адрес почты и пароль в течении 30 дней, 
если хотите сохранить ее за собой и иметь возможность пользоваться 
аккаунтом с других устройств.</p>
                    </div>
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label for="id-Photo" class="col-xs-12 col-sm-4 col-md-3 control-label">Photo</label>
                            <div class="col-xs-6 col-sm-4 col-md-7">
                                <input id="id-Photo" class="form-control" placeholder="Enter URL or upload a picture from computer" type="url">
                            </div>
                            <div class="col-xs-6 col-sm-4 col-md-2">
                                <button type="submit" class="btn btn-primary full-width">Browse</button>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="id-Name" class="col-sm-4 col-md-3 control-label">Your name</label>
                            <div class="col-xs-6 col-sm-4 col-md-4">
                                <input class="form-control" id="id-First" maxlength="32" placeholder="First" value="Anonymous" type="text">
                            </div>
                            <div class="col-xs-6 col-sm-4 col-md-5">
                                <input class="form-control" id="id-Last" maxlength="32" placeholder="Last" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="id-Email" class="col-sm-4 col-md-3 control-label">Email</label>
                            <div class="col-sm-8 col-md-9">
                                <input value="klemeshovao@gmail.com" class="form-control" id="id-Email" placeholder="Primary email" type="email">
                            </div>
                        </div>
                        <div class="form-group has-error">
                            <label for="id-Password" class="col-sm-4 col-md-3 control-label">Password</label>
                            <div class="col-sm-8 col-md-9">
                                <input class="form-control" id="id-Password" maxlength="32" placeholder="1-32 characters. Only Latin characters, numbers and special symbols are allowed" type="password">
                                <div class="help-block">1-32 characters. Only Latin characters, numbers and special symbols are allowed</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="id-Description" class="col-sm-4 col-md-3 control-label">Description</label>
                            <div class="col-sm-8 col-md-9 has-error">
                                <textarea class="form-control" rows="6" maxlength="512" id="id-Description" placeholder="Enter a brief description about yourself. Max 512 characters"></textarea>
                                <div class="help-block">Max 512 characters</div>
                            </div>
                        </div>
                        <div class="form-group col-xs-12">
                            <div class="pull-right" >
                                <a href="#" ng-click="onDeleteAccountClick()" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span>Delete account</a>
                                <a href="http://gitlab.wr.io/in/blob/Prototype/vertical/blogs-post.htm" class="btn btn-success"><span class="glyphicon glyphicon-open"></span>Update</a>
                            </div>
                        </div>
                    </form>
                    <ul class="info nav nav-pills nav-stacked" id="help-accordion">
                        <li class="panel"><a href="#help-element" data-parent="#help-accordion" data-toggle="collapse" class=""><span class="glyphicon glyphicon-chevron-down pull-right"></span>Need help?</a>
                            <div class="in" id="help-element">
                                <ul class="nav nav-pills nav-stacked">
                                    <li><a href="#">About public and alias profiles</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
  
