<div class="navbar navbar-inverse main navbar-fixed-top row-offcanvas-menu" role="navigation">
                    <div class="navbar-header">
                        <ul class="nav menu pull-right">
                            <li><a href="http://gitlab.wr.io/in/blob/Prototype/vertical/webrunes-contact.htm" class="btn-link btn-sm"><span class="glyphicon glyphicon-envelope"></span></a></li>
                            <li><a href="#" ng-click="signout()" class="btn-link btn-sm"><span class="glyphicon glyphicon-lock"></span></a></li>
                            <li><a href="#" class="btn-link btn-sm"><span class="glyphicon glyphicon-fullscreen"></span></a></li>
                            <li><a href="#" class="btn-link btn-sm visible-xs" data-toggle="collapse" data-target=".navbar-collapse"><span class="glyphicon glyphicon-align-justify"></span></a></li>
                            <li><a href="#" class="btn-link btn-sm visible-xs" data-toggle="offcanvas"><span class="glyphicon glyphicon-transfer"></span></a></li>
                        </ul>
                        <a href="#" class="navbar-brand">&nbsp;</a>
                    </div>
                    <div class="navbar-collapse in">
                        <ul class="nav navbar-nav" id="nav-accordion">
                            <li class="panel"><a href="#element1" class="collapse" data-parent="#nav-accordion" data-toggle="collapse">WRIO</a>
                                <div class="in" id="element1">
                                    <ul class="nav nav-pills nav-stacked sub">
                                        <li class="active"><a href="#" class="pull-right"><span class="glyphicon glyphicon-remove btn-xs"></span></a><a href="#">Alexey Anshakov</a></li>
                                        <li><a href="#" class="pull-right"><span class="glyphicon glyphicon-remove btn-xs"></span></a><a href="#">News name</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="panel"><a href="#element2" class="collapsed" data-parent="#nav-accordion" data-toggle="collapse"><span class="qty btn-xs pull-right">42</span>Reader</a>
                                <div class="collapse" id="element2">
                                    <ul class="nav nav-pills nav-stacked sub">
                                        <li><a href="#" class="pull-right"><span class="glyphicon glyphicon-remove btn-xs"></span></a><a href="#">Blogs</a></li>
                                        <li><a href="#" class="pull-right"><span class="glyphicon glyphicon-remove btn-xs"></span></a><a href="#">Science</a></li>
                                        <li><a href="#" class="pull-right"><span class="glyphicon glyphicon-remove btn-xs"></span></a><a href="#">Best photos</a></li>
                                        <li><a href="#" class="pull-right"><span class="glyphicon glyphicon-remove btn-xs"></span></a><a href="#">Animals</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="panel"><a href="#element3" class="collapsed" data-parent="#nav-accordion" data-toggle="collapse"><span class="qty btn-xs pull-right">324</span>Blogs</a>
                                <div class="collapse" id="element3">
                                    <ul class="nav nav-pills nav-stacked sub">
                                        <li><a href="#" class="pull-right"><span class="glyphicon glyphicon-remove btn-xs"></span></a><a href="http://gitlab.wr.io/in/blob/Prototype/vertical/blogs-post.htm">in. Part 1: Vision of the Internet Future</a></li>
                                        <li><a href="#" class="pull-right"><span class="glyphicon glyphicon-remove btn-xs"></span></a><a href="#">My best post</a></li>
                                        <li><a href="#" class="pull-right"><span class="glyphicon glyphicon-remove btn-xs"></span></a><a href="#">Great blogs review</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="new panel"><a href="#element4" data-parent="#nav-accordion" data-toggle="collapse" class="collapsed"><span class="glyphicon glyphicon-plus-sign"></span></a>
                                <div class="collapse" id="element4"></div>
                            </li>
                        </ul>
                    </div>
                </div>