
                <div class="sidebar-margin">
                    <ul class="info nav nav-pills nav-stacked" id="ticket-accordion">
                        <li class="panel"><a href="#ticket-element" data-parent="#ticket-accordion" data-toggle="collapse" class=""><span class="glyphicon glyphicon-chevron-down pull-right"></span>Profile</a>
                            <div class="in" id="ticket-element">
                                <div class="tickets">
                                    <div class="media thumbnail">
                                        <div class="col-xs-12">
                                            <img src="wrio-account-edit_files/profile1.jpg" class="pull-left">
                                            <ul class="details">
                                                <li>Name: Alexey Anshakov</li>
                                                <li>Registered: 22 Jun 2013</li>
                                                <li>Rating: 244</li>
                                                <li>Followers: 1,634</li>
                                                <li>Posts: 1,634</li>
                                            </ul>
                                        </div>
                                        <div class="col-xs-12">
                                            <div class="media-body">
                                                Disclaimer: We start a 
series of stories describing various issues and problems that are 
related for the most part to the Internet, and our vision of possible 
ways to solve them. Those will often be followed by previews of projects
 mentioned in the stories. Keep in mind: some of them might change, some
 will remain just our fantasy; at this moment we are a small team, but 
with a great desire to change this world for the better or at least a 
little bit.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="margin-bottom">
                        <button type="button" class="btn btn-default btn-block"><span class="glyphicon glyphicon-star"></span>Buy premium</button>
                        <button type="button" class="btn btn-primary btn-block"><span class="glyphicon glyphicon-pencil"></span>Edit</button>
                        <button type="button" class="btn btn-default btn-block"><span class="glyphicon glyphicon-envelope"></span>Contact</button>
                        <button type="button" class="btn btn-default btn-block"><span class="glyphicon glyphicon-share"></span>Share</button>
                        <button type="button" class="btn btn-default btn-block"><span class="glyphicon glyphicon-bookmark"></span>Follow</button>
                    </div>
                    <ul class="nav nav-pills nav-stacked" id="sidebar-accordion">
                        <li class="panel"><a href="#sidebar-element1" data-parent="#sidebar-accordion" data-toggle="collapse"><span class="glyphicon glyphicon-chevron-down pull-right"></span>Cover</a>
                            <div class="collapse" id="sidebar-element1">
                                <ul class="nav nav-pills nav-stacked">
                                    <li><a href="#">About</a></li>
                                    <li><a href="#">Timeline</a></li>
                                </ul>
                            </div>
                        </li>
                        <li><a href="#"><span class="pull-right">2</span>Offers</a></li>
                        <li><a href="#"><span class="pull-right">2</span>Rewards</a></li>
                        <li><a href="#">Followers</a></li>
                    </ul>
                    <ul class="nav nav-pills nav-stacked">
                        <li><a href="#">Posts</a></li>
                        <li><a href="#">Photos</a></li>
                        <li><a href="#">Videos</a></li>
                        <li><a href="#">Audios</a></li>
                        <li><a href="#">Comments</a></li>
                    </ul>
                </div>
            



    <script src="/vertical/js/offcanvas.js"></script>