
                <div class="margin">
                    <ul class="info nav nav-pills nav-stacked" id="profile-accordion">
                        <li class="panel"><a href="#profile-element" data-parent="#profile-accordion" data-toggle="collapse" class=""><span class="glyphicon glyphicon-chevron-down pull-right"></span>Logged with WRIO</a>
                            <div class="in" id="profile-element">
                                <div class="tickets">
                                    <div class="media thumbnail">
                                        <div class="col-xs-12 col-md-6 col-lg-5">
                                            <img src="wrio-account-delete_files/profile1.jpg" class="pull-left">
                                            <ul class="details">
                                                <li>Name: Alexey Anshakov</li>
                                                <li>Registered: 22 Jun 2013</li>
                                                <li>Rating: 244</li>
                                                <li>Followers: 1,634</li>
                                                <li>Posts: 1,634</li>
                                            </ul>
                                        </div>
                                        <div class="col-xs-12 col-md-6 col-lg-7">
                                            <div class="media-body">
                                                Disclaimer: We start a 
series of stories describing various issues and problems that are 
related for the most part to the Internet, and our vision of possible 
ways to solve them. Those will often be followed by previews of projects
 mentioned in the stories. Keep in mind: some of them might change, some
 will remain just our fantasy; at this moment we are a small team, but 
with a great desire to change this world for the better or at least a 
little bit.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <ul class="breadcrumb">
                        <li><a href="http://gitlab.wr.io/in/blob/Prototype/vertical/wrio-account-edit.htm">Edit</a></li>
                        <li class="active">Delete account</li>
                    </ul>
                    <div class="callout danger">
                        <h5>Warning!</h5>
                        <p>Мы честны с нашими пользователями и полностью
 удаляем регистрационные данные - вы не сможете восстановить свою 
учетную запись, она будет удалена навсегда!</p>
                    </div>
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label for="id-Password" class="col-sm-4 col-md-3 control-label">Password</label>
                            <div class="col-sm-8 col-md-9 has-error">
                                <input class="form-control" id="id-Password" type="password">
                                <div class="help-block">Wrong password</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="id-Last_word" class="col-sm-4 col-md-3 control-label">Last word</label>
                            <div class="col-sm-8 col-md-9 has-error">
                                <textarea class="form-control" maxlength="2048" rows="6" id="id-Last_word" placeholder="Please give us a brief feedback why you are leaving us"></textarea>
                                <div class="help-block">Max 2048 characters</div>
                            </div>
                        </div>
                        <div class="form-group col-xs-12">
                            <a ng-click="onBackToProfileEditClick()" class="btn btn-default pull-left"><span class="glyphicon glyphicon-arrow-left"></span>Back</a>
                            <div class="pull-right">
                                <a href="http://gitlab.wr.io/in/blob/Prototype/vertical/sign_in.htm" class="btn btn-danger"><b>:-(</b> Say goodbye</a>
                            </div>
                        </div>
                    </form>
                </div>
       
