<div>
<label ng-bind="dropdown.title" for="dropdown-Title" class="col-xs-12 col-sm-4 col-md-3 control-label"></label>
<div class="col-xs-6 col-sm-4 col-md-4">
    <div class="btn-group dropdown-menu-full-width">
        <button type="button" class="btn btn-white btn-block dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span> {{dropdown.currValue}}
        </button>
        <ul class="dropdown-menu" role="menu">
            <li ng-show="dropdown.isVisibleDefault" ng-click="onSelectOption(-1)"><a href="#"><span ng-show="showSelectedOption(dropdown.defaultValue)" class="glyphicon glyphicon-ok pull-right"></span>{{dropdown.defaultValue}}</a></li>
            <li ng-repeat="option in dropdown.options" ng-click="onSelectOption($index)">
                <a href="#"><span ng-show="showSelectedOption(option)" class="glyphicon glyphicon-ok pull-right"></span>{{option}}</a>
            </li>
            <li ng-show="dropdown.isVisibleLink" class="divider"></li>
            <li ng-show="dropdown.isVisibleLink" ng-click="onClickLink()"><a href="#">{{dropdown.linkTitle}}</a></li>
        </ul>
    </div>
</div>
</div>

