<ul class="nav navbar-nav" id="nav-accordion">
    <li class="panel" ng-repeat="item in apps" ng-class="checkActiveApp(item.AppTag)">
        <a ng-href="#" ng-class="checkClassApp(item.AppTag)" ng-click="selectAppTab(item.AppType,item.AppTag)">
            <span class="qty btn-xs pull-right">0</span>{{item.AppTitle}}</a>
        <div ng-class="getClass(item.AppTag)">
            <ul class="nav nav-pills nav-stacked sub">
                <li ng-repeat="tick in item.Items" ng-click="selectTab(tick.PostGuid)" ng-class="checkActiveTab(tick.PostGuid)">
                    <a href="#" ng-click="removeTab(item.AppType,tick.UserAppId,tick.PostGuid); $event.stopPropagation()" class="pull-right"><span class="glyphicon glyphicon-remove btn-xs"></span></a>
                    <a href="#">{{tick.PostTitle | limitName}}</a>
                </li>
            </ul>
        </div>
    </li>

    <li class="panel" ng-repeat="item in tempApps" ng-class="checkActiveApp(item)" ng-click="selectTempAppTab(item)">
        <a ng-href="#" ng-class="checkClassApp(item)">{{item}}</a>
    </li>

    <div ng-show="isPostError" class="in">
        <ul class="nav nav-pills nav-stacked sub">
            <li ng-click="selectPostErrorTab()" class="active">
                <a href="#" ng-click="removePostErrorTab(); $event.stopPropagation()" class="pull-right"><span class="glyphicon glyphicon-remove btn-xs"></span></a>
                <a href="#">{{errorPostTitle | limitName}}</a>
            </li>
        </ul>
    </div>


    <li class="new panel" ng-click="onPlusClick()" ng-class="checkActiveApp('plus')">
        <a href="#element4" data-parent="#nav-accordion" data-toggle="collapse" class="collapsed"><span class="glyphicon glyphicon-plus"></span></a>
        <div class="collapse" id="element4"></div>
    </li>
</ul>
