<button ng-show="isEdit" ng-click="onClickBtn('edit')" ng-class="checkPrimaryCls('edit')" type="button" class="btn btn-block">
    <span class="glyphicon glyphicon-pencil"></span>Edit</button>
<button ng-show="isInvite" ng-click="onClickBtn('invite')" ng-class="checkPrimaryCls('invite')" type="button" class="btn btn-block">
    <span class="glyphicon glyphicon-send"></span>Invite the author</button>
<button ng-click="onClickBtn('invitation')" ng-class="checkPrimaryCls('invitation')" type="button" class="btn btn-primary btn-block">
    <span class="glyphicon glyphicon-send"></span>Invitation</button>
<button ng-show="isComments" ng-click="onClickBtn('comments')" ng-class="checkPrimaryCls('comments')" type="button" class="btn btn-block">
    <span class="glyphicon glyphicon-comment"></span>Enable comments</button>
<button ng-click="onClickBtn('share')" ng-class="checkPrimaryCls('share')" type="button" class="btn btn-block">
    <span class="glyphicon glyphicon-share"></span>Share</button>
<button type="button" class="btn btn-success btn-block">
    <span class="glyphicon glyphicon-bookmark"></span>Bookmarked</button>

