<div class="sidebar-margin">
    <ul class="info nav nav-pills nav-stacked" id="ticket-accordion"  hub-widget></ul>
    <div class="margin-bottom">
        <button type="button" class="btn btn-primary btn-block"><span class="glyphicon glyphicon-pencil"></span>Create</button>
        <button type="button" class="btn btn-default btn-block"><span class="glyphicon glyphicon-ok-sign"></span>Subscribe</button>
        <button type="button" class="btn btn-default btn-block"><span class="glyphicon glyphicon-share"></span>Share</button>
    </div>
    <ul class="nav nav-pills nav-stacked" id="sidebar-accordion">
        <li class="panel"><a href="#sidebar-element1" data-parent="#sidebar-accordion" data-toggle="collapse"><span class="glyphicon glyphicon-chevron-down pull-right"></span>Cover</a>
            <div class="in" id="sidebar-element1">
                <ul class="nav nav-pills nav-stacked">
                    <li><a href="#">About</a></li>
                    <li><a href="#">Authors</a></li>
                    <li><a href="#">Editors</a></li>
                    <li><a href="#"><span class="label label-success pull-right">Class A</span>Terms</a></li>
                    <li><a href="#"><span class="label label-danger pull-right">Class E</span>Privacy</a></li>
                </ul>
            </div>
        </li>
        <li class="panel"><a href="#sidebar-element2" class="collapsed" data-parent="#sidebar-accordion" data-toggle="collapse"><span class="glyphicon glyphicon-chevron-down pull-right"></span>Shares</a>
            <div class="collapse" id="sidebar-element2">
                <ul class="nav nav-pills nav-stacked">
                    <li><a href="#">Buy</a></li>
                    <li><a href="#">Sell</a></li>
                </ul>
            </div>
        </li>
    </ul>
    <ul class="nav nav-pills nav-stacked">
        <li ng-click="onFeedClc()"><a href="#">Feed</a></li>
    </ul>
    <script src="/vertical/js/offcanvas.js"></script>
</div>
